@page
@model Demo.Pages.ApplicationErrorModel
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>内部服务器繁忙…</title>
</head>

<body style="margin: 0; padding: 0;">
    <div>
        <div style="height: 400px; background-color: #f6f6f6; margin: 200px auto;">
            <div style="width: 500px; margin: 0 auto;">
                <table style="height: 400px;">
                    <tr>
                        <td>
                            <img src="/image/error_wrong.png" /></td>
                        <td>
                            <h3 style="font-weight: bold;">很抱歉，内部服务器繁忙，暂时无法为您提供该服务。</h3>
                            <span class="f1">如有疑问，请联系技术人员！                   
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
